@charset "UTF-8";

body {
	background: #fff;
	color: #444;
	margin: 0;
	font-family: "Lucida Grande", Menlo, Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#json_viewer {
	font-size: 12px;
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 0;
}
.folder-frame {
	/*background: #eee;*/
}
.folder-frame > .wrapper {
	display: -webkit-box;
	-webkit-box-align: stretch;
	overflow-x: auto;
}
.folder-view {
	position: relative;
	width: 250px;
	min-width: 100px;
	max-width: 500px;
	height: 100%;
	border-right: 1px solid #ccc;
	background: #fff;
}
.folder-view .resize-handler {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: -3px;
	width: 6px;
	background: none;
	cursor: col-resize;
}
.folder-item-list {
	display: block;
	padding: 0;
	margin: 0;
}
.folder-item {
	display: block;
	cursor: pointer;
}



.json-property {
	display: -webkit-box;
	-webkit-box-align: stretch;
}
.json-property,
.json-property > * {
	-webkit-user-select: text;
	user-select: text;
}
.folder-item:hover .json-property {
	background-color: #f3f9ff;
}
.folder-item.selected .json-property {
	background-color: #ddeeff;
}
.folder-item.focus .json-property {
	background-color: #2277ee;
}
.json-keyname {
	-webkit-box-flex: 0;
	min-width: 100px;
	padding: 3px 6px;
}
.json-value {
	-webkit-box-flex: 1;
	padding: 3px 6px;
	text-align: left;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.focus > .json-property > .json-keyname,
.focus > .json-property > .json-value,
.focus > .json-property > .json-value::before,
.focus > .json-property > .json-value::after
{
	color: #fff !important;
}
.datatype-array::before,
.datatype-object::before {
	content: "▶";
	color: #999;
	font-style: normal;
	font-size: 0.5em;
	line-height: 2.5em;
	float: right;
	margin-left: 10px;
}


.datatype-boolean {
	color: #8800cc;
}
.datatype-string {
	color: #cc3300;
}
.datatype-string::before {
	content: '"';
}
.datatype-string::after {
	content: '"';
}
.datatype-number {
	color: #8800cc;
}
.datatype-null {
	color: #999999;
}
.datatype-null::after {
	content: "null";
}
.datatype-array {
	color: #999999;
	text-align: right;
}
.datatype-object {
	color: #999999;
	text-align: right;
}


.wrapper.scrollable-vertical {
	overflow-y: auto;
	height: 100%;
}


/* toolbar */

.toolbar {
	padding: 5px;
	background: #e6e6e6;
	border: 1px solid #888;
	border-top: none;
	border-right: none;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.hideout-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 10px 0;
	z-index: 100;
}

.toolbar input[name="url"] {
	width: 150px;
}
.toolbar input[name="url"]:focus {
	width: 300px;
}


input[type="url"] {
	background: transparent;
	font-size: 16px;
	border: none;
	outline: none;
	color: #fff;
}

#search_toolbar {
	top: 0;
	left: auto;
	right: 0;
	border-radius: 0 0 0 4px;
}

.search_status {
	/*color: #fff;*/
	font-size: 12px;
	padding: 0 0 0 5px;
}


#status_toolbar {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: none;
	/*height: 24px;*/
}
.breadcrumb_list {
	padding: 0;
	margin: 0;
	background-color: #eee;
}
.breadcrumb_item {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	overflow: hidden;
	/*background-color: #ddd;*/
}
.breadcrumb_item:first-child a,
.breadcrumb_item:first-child span {
	padding-left: 10px;
}
.breadcrumb_item span,
.breadcrumb_item a {
	display: inline-block;
	padding: 0 0;
	/*min-width: 20px;*/
	text-align: left;
	font-size: 12px;
	line-height: 2em;
	text-decoration: none;
	color: #444;
	background-color: #ddd;
}
.breadcrumb_item.hover a {
	background-color: #f3f3f3;
}
.breadcrumb_item.selected span,
.breadcrumb_item.selected a,
.breadcrumb_item.selected a:hover,
.breadcrumb_item.selected a:focus {
	background-color: #eee;
}
.breadcrumb_item.selected:first-child a,
.breadcrumb_item.selected:first-child a:hover,
.breadcrumb_item.selected:first-child a:focus {
	background-color: #eee;
}
.breadcrumb_item + .breadcrumb_item a,
.breadcrumb_item + .breadcrumb_item span {
	padding-left: 20px;
}
.breadcrumb_item + .breadcrumb_item::before {
	display: block;
	content: '';
	background-color: #ddd;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.2), 1px 1px rgba(255,255,255,1);
	-webkit-transform: translate(-15px, 0)rotate(45deg);
}

.breadcrumb_item.hover + .breadcrumb_item::before {
	background-color: #f3f3f3;
}
