@charset "UTF-8";

#json-finder-app {
  background: #fff;
  color: #666;
  margin: 0;
  font-family: "Lucida Grande", Menlo, Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#json-finder-app #json-viewer {
	position: absolute;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}
#json-finder-app .folder-frame {
	/*background: #eee;*/
}
#json-finder-app .folder-frame > .wrapper {
	display: -webkit-box;
	-webkit-box-align: stretch;
	overflow-x: auto;
}
#json-finder-app .folder-view {
	position: relative;
	width: 250px;
	min-width: 100px;
	height: 100%;
	border-right: 1px solid #ccc;
	background: #fff;
}
#json-finder-app .folder-view .resize-handler {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: -3px;
	width: 6px;
	background: none;
	cursor: col-resize;
}
#json-finder-app .folder-item-list {
	display: block;
	padding: 0;
	margin: 0;
}
#json-finder-app .folder-item {
	display: block;
	cursor: pointer;
}



#json-finder-app .json-property {
	display: -webkit-box;
	-webkit-box-align: stretch;
}
#json-finder-app .json-property,
#json-finder-app .json-property > * {
	-webkit-user-select: text;
	user-select: text;
}
#json-finder-app .folder-item:hover .json-property {
	background-color: #f3f9ff;
}
#json-finder-app .folder-item.selected .json-property {
	background-color: #ddeeff;
}
#json-finder-app .folder-item.focus .json-property {
	background-color: #2277ee;
}
#json-finder-app .json-keyname {
	-webkit-box-flex: 0;
	min-width: 100px;
	padding: 3px 6px;
	line-height: 1.2;
}
#json-finder-app .json-value {
	-webkit-box-flex: 1;
	padding: 3px 6px;
	line-height: 1.2;
	text-align: left;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#json-finder-app .json-keyname span,
#json-finder-app .json-value span {
	cursor: text;
}
#json-finder-app .focus > .json-property > .json-keyname,
#json-finder-app .focus > .json-property > .json-value,
#json-finder-app .focus > .json-property > .json-value::before,
#json-finder-app .focus > .json-property > .json-value::after {
	color: #fff !important;
}

#json-finder-app .json-value:focus,
#json-finder-app .json-keyname:focus {
	outline: none;
}


#json-finder-app .datatype-array::before,
#json-finder-app .datatype-object::before {
	content: "▶";
	color: #999;
	font-style: normal;
	font-size: 0.5em;
	line-height: 2.4em;
	float: right;
	margin-left: 10px;
}


#json-finder-app .datatype-boolean {
	color: #8800cc;
}
#json-finder-app .datatype-string {
	color: #cc3300;
}
#json-finder-app .datatype-string::before {
	content: '"';
}
#json-finder-app .datatype-string::after {
	content: '"';
}
#json-finder-app .datatype-number {
	color: #8800cc;
}
#json-finder-app .datatype-null {
	color: #999999;
}
#json-finder-app .datatype-null::after {
	content: "null";
}
#json-finder-app .datatype-array {
	color: #999999;
	text-align: right;
}
#json-finder-app .datatype-object {
	color: #999999;
	text-align: right;
}

#json-finder-app .keyword-match {
	background: rgba(255,255,0,.5);
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	padding: 0 3px;
	margin: 0 -3px;
}


#json-finder-app .wrapper.scrollable-vertical {
	overflow-y: auto;
	height: 100%;
}


/* toolbar */

#json-finder-app .toolbar {
	padding: 5px;
	background: #f0f0f0;
	border: 1px solid #bbb;
	border-top: none;
	border-right: none;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
#json-finder-app .hideout-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 10px 0;
	z-index: 100;
}

#json-finder-app .toolbar input[name="url"] {
	width: 150px;
}
#json-finder-app .toolbar input[name="url"]:focus {
	width: 300px;
}


#json-finder-app input[type="url"] {
	background: transparent;
	font-size: 16px;
	border: none;
	outline: none;
	color: #fff;
}

#json-finder-app #search-bar {
	top: 0;
	left: auto;
	right: 0;
	border-radius: 0 0 0 4px;
}

#json-finder-app #search-bar > * {
	float: left;
}

#json-finder-app .search-status {
	margin: 3px 0;
	font-size: 12px;
	padding: 0 0 0 5px;
}


#json-finder-app #path-bar {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: none;
}
#json-finder-app .breadcrumb-list {
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;
}
#json-finder-app .breadcrumb-item {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
#json-finder-app .breadcrumb-item:first-child a,
#json-finder-app .breadcrumb-item:first-child span {
	padding-left: 10px;
}
#json-finder-app .breadcrumb-item span,
#json-finder-app .breadcrumb-item a {
	display: inline-block;
	padding: 0 0;
	text-align: left;
	font-size: 12px;
	line-height: 2em;
	text-decoration: none;
	color: #666;
	background-color: #ddd;
}
#json-finder-app .breadcrumb-item.hover a {
	background-color: #fdfdfd;
}
#json-finder-app .breadcrumb-item.selected span,
#json-finder-app .breadcrumb-item.selected a,
#json-finder-app .breadcrumb-item.selected a:hover,
#json-finder-app .breadcrumb-item.selected a:focus {
	background-color: #f9f9f9;
}
#json-finder-app .breadcrumb-item.selected:first-child a,
#json-finder-app .breadcrumb-item.selected:first-child a:hover,
#json-finder-app .breadcrumb-item.selected:first-child a:focus {
	background-color: #f9f9f9;
}
#json-finder-app .breadcrumb-item + .breadcrumb-item a,
#json-finder-app .breadcrumb-item + .breadcrumb-item span {
	padding-left: 20px;
}
#json-finder-app .breadcrumb-item + .breadcrumb-item::before {
	display: block;
	content: '';
	background-color: #ddd;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.2), 1px 1px rgba(255,255,255,1);
	-webkit-transform: translate(-15px, 0)rotate(45deg);
}

#json-finder-app .breadcrumb-item.hover + .breadcrumb-item::before {
	background-color: #f3f3f3;
}
